// .account-bg-01 {
//     background-image: url(../../../../public/assets/img/authentication/login-bg.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     @include rounded(10px);
//     height: calc(100vh - 40px);
// }

.account-bg-02 {
    background-image: url(../../../../public/assets/img/authentication/register-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.account-bg-03 {
    background-image: url(../../../../public/assets/img/authentication/forgot-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.account-bg-04 {
    background-image: url(../../../../public/assets/img/authentication/reset-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.account-bg-05 {
    background-image: url(../../../../public/assets/img/authentication/email-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.account-bg-06 {
    background-image: url(../../../../public/assets/img/authentication/verification-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.account-bg-07 {
    background-image: url(../../../../public/assets/img/authentication/success-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rounded(10px);
    height: calc(100vh - 40px);
}
.link-hover {
    position: relative;
    &:after {
        content:"";
        height: 2px;
        width: 100%;
        background: var(--#{$prefix}primary);
        @include transform(scale(0));
        @include transition(all 0.3s ease);
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    &:hover:after {
        @include transform(scale(1));
    }
    &:hover {
        color: var(--#{$prefix}primary) !important;
    }
}
.bg-backdrop {
    background: #FFFFFFF2;
    backdrop-filter: blur(10px);
}
.or-login {
    h6 {
        &:after{
            content: "";
            background: var(--#{$prefix}gray-100);
            width:21px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: calc(50% - 40px);
            @include transform(translateY(-50%));
        }
        &:before{
            content: "";
            background: var(--#{$prefix}gray-100);
            width:21px;
            height: 1px;
            top: 50%;
            @include transform(translateY(-50%));
            position: absolute;
            right: calc(50% - 40px);
        }
    }
}
.digit-group {
	input {
		width: 55px !important;
		height: 55px;
		border: 1px solid var(--#{$prefix}border-color);
		text-align: center; // optional, aligns digit nicely
		&.active {
			border: 2px solid var(--#{$prefix}primary);
		}

		// Small devices (mobile)
		@include media-breakpoint-down(sm) {
			width: 42px !important;
			height: 42px;
		}

		// Extra small devices
		@media (max-width: 360px) {
			width: 36px !important;
			height: 36px;
		}
	}
}

.error-img {
    max-width: 500px;
}
.auth-logo {
    img {
        width: 100%;
        max-width: 141px;
    }
}
.count-box {
    width: 85px;
    height: 85px;
    @include media-breakpoint-down(sm) {
        width: 50px;
        height: 50px;
    }
}
.account-page {
    .acc-vh, .vh-100 {
        height: calc(100vh - 20px) !important;
    }
}

/* Container for the reCAPTCHA to center it nicely */
.recaptcha-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.5rem 0;
}

/* Scale the reCAPTCHA box for better alignment */
.recaptcha-wrapper re-captcha {
  transform: scale(0.9);
  transform-origin: center;
}

/* Customize the badge position (if visible) */
::ng-deep .grecaptcha-badge {
  bottom: 15px !important;
  right: 15px !important;
  z-index: 1000;
}

/* Optional: Adjust font size & color of "I'm not a robot" text if you use custom recaptcha UI (limited control) */
/* You can target the container div around the reCAPTCHA if needed */

/* Add a subtle shadow around the captcha box for better focus */
.recaptcha-wrapper > div {
  box-shadow: 0 4px 8px rgb(242 101 34 / 0.2);
  border-radius: 6px;
}

/* Responsive tweak for smaller screens */
@media (max-width: 576px) {
  .recaptcha-wrapper re-captcha {
    transform: scale(0.8);
  }
}
