<div class="main-wrapper">
  <div class="container-fuild">
    <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
      <div class="row">
        <!-- Left Panel / Background Image -->
        <div
          class="col-lg-5 d-none d-lg-flex align-items-center justify-content-center vh-100"
          style="background-color: #FEF1EB !important; color: #F26522 !important;"
        >
          <img
            src="https://smarthr.co.in/demo/html/template/assets/img/bg/authentication-bg-04.svg"
            alt="Img"
          />
        </div>

        <!-- Right Panel / Forgot Password Form -->
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-center align-items-center vh-100 overflow-auto">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <form
                (ngSubmit)="onSubmit()"
                class="w-100 p-4 d-flex flex-column justify-content-between"
              >
                <!-- Logo -->
                <div class="mx-auto mb-3 text-center">
                  <img
                    src="assets/img/provilac-logo.png"
                    style="width: 25%;"
                    class="img-fluid"
                    alt="Logo"
                  />
                </div>

                <!-- Heading -->
                <div class="text-center mb-3">
                  <h2 class="mb-2">Forgot Password</h2>
                  <p class="mb-0">
                    Enter your registered mobile number to reset your password
                  </p>
                </div>

                <!-- Mobile Number Input -->
                <div class="mb-4">
                  <input
                    type="tel"
                    class="form-control fs-16"
                    placeholder="Enter Mobile Number"
                    name="mobile"
                    [(ngModel)]="mobile"
                    required
                  />
                </div>

                <!-- reCAPTCHA widget -->
                <!-- <div class="recaptcha-wrapper">
                    <re-captcha
                    siteKey="6LeK-ewdAAAAAJEa-pG2vkqCwYCd1Cxn-zrQJfQN"
                    (resolved)="onCaptchaResolved($event)"
                    ></re-captcha>
                </div> -->


                <!-- Submit Button -->
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary w-100">
                    Submit
                  </button>
                </div>

                <!-- Footer -->
                <div class="mt-5 pb-4 text-center">
                  <p class="mb-0 text-gray-9">Copyright © 2025 - Provilac</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Right Panel -->
      </div>
    </div>
  </div>
</div>